<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MindHive | Register</title>
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
    <link rel="stylesheet" href="./styles/main.css" />
    <link rel="stylesheet" href="./styles/auth.css" />
  </head>
  <body class="auth-page">
    <main class="register-container">
      <section class="register-card">
        <div class="logo-wrapper">
          <img
            src="./assets/logos/MindHiveLight.svg"
            alt="MindHive Logo"
            class="logo"
          />
        </div>

        <h2>Create Your Account</h2>
        <p class="subtitle">Start your journey with us.</p>

        <form id="register-form" action="/register" method="POST">
          <div class="name-row">
            <div class="form-group">
              <input
                type="text"
                id="first_name"
                name="first_name"
                placeholder="First Name"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                id="last_name"
                name="last_name"
                placeholder="Last Name"
                required
              />
            </div>
          </div>

          <div class="form-group">
            <input
              type="text"
              id="username"
              name="username"
              placeholder="Username"
              required
            />
          </div>

          <div class="form-group">
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Email"
              required
            />
          </div>

          <div class="form-group">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Password"
              required
            />
          </div>

          <div class="form-group">
            <input
              type="password"
              id="confirm_password"
              name="confirm_password"
              placeholder="Confirm Password"
              required
            />
          </div>

          <p id="message" class="message" style="margin: 0; padding: 0"></p>

          <button type="submit" class="btn-register">Register</button>

          <p class="login-link">
            Already have an account?
            <a href="/login">Log In</a>
          </p>
        </form>
      </section>
    </main>

    <script src="./js/auth.js"></script>
  </body>
</html>
